#root {
  background: url(https://images.unsplash.com/photo-1507925921958-8a62f3d1a50d?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    center no-repeat;
  /* background-color: #BFD7EA; 
   padding: 1rem; 
   height: 100vh; */
}

.main {
  height: calc(100vh - 11rem);
}

.glasscard {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
}

.table-transparent {
  --bs-table-bg: rgb(0 0 0 0%) !important;
}

.table-transparent th,
.table-transparent td {
  border: none;
}

.table-transparent tbody {
  cursor: pointer;
}

.table-group-divider tr {
  border-bottom: 1px solid #dee2e6;
}
