.bg-primary {
  background: linear-gradient(90deg, rgba(0, 219, 222, 1) 0%, rgba(252, 0, 255, 1) 100%);
}

.btn-primary {
  background-image: linear-gradient(-225deg, #2cd8d5 0%, #6b8dd6 48%, #8e37d7 100%);
}
.form-control {
  background: linear-gradient(-225deg, rgba(125, 226, 252, 1) 0%, rgba(185, 182, 229, 1) 100%);
  border: 1px solid white;
}

.btn-info {
  background: linear-gradient(
    -225deg,
    rgba(93, 159, 255, 1) 0%,
    rgba(184, 220, 255, 1) 48%,
    rgba(107, 187, 255, 1) 100%
  );
}

.btn-danger {
  background: linear-gradient(
    90deg,
    rgba(255, 129, 119, 1) 0%,
    rgba(255, 134, 122, 1) 0%,
    rgba(255, 140, 127, 1) 21%,
    rgba(249, 145, 133, 1) 52%,
    rgba(207, 85, 108, 1) 78%,
    rgba(177, 42, 91, 1) 100%
  );
}

.btn {
  border: 1px solid black;
}

#root {
  background: linear-gradient(0deg, rgba(172, 203, 238, 1) 0%, rgba(231, 240, 253, 1) 100%);
}

.main {
  height: calc(100vh - 11rem);
}
.item-bg,
.modal-content {
  background: linear-gradient(-225deg, rgba(125, 226, 252, 1) 0%, rgba(185, 182, 229, 1) 100%);
}

.table-transparent {
  --bs-table-bg: rgb(0 0 0 0%) !important;
}

.table-transparent th,
.table-transparent td {
  border: none;
}

.table-transparent tbody {
  cursor: pointer;
}

.table-group-divider tr {
  border-bottom: 1px solid #dee2e6;
}
